#:.....: ROS Stuff :...............................................................................#
.cproject
.project
.pydevproject
cmake_install.cmake
build/
bin/
lib/
msg_gen/
srv_gen/
doc/

#:.....: PCL FILES :...............................................................................#
*.pcd

#:.....: Compiled Object files :...................................................................#
*.slo
*.lo
*.o

#:.....: Compiled Dynamic libraries :..............................................................#
*.so
*.dylib

#:.....: Compiled Static libraries :...............................................................#
*.lai
*.la
*.a

#:.....: Specific Project Ingores :................................................................#

/.settings/org.eclipse.cdt.codan.core.prefs
/.settings/org.eclipse.cdt.core.prefs
/.settings/org.eclipse.cdt.ui.prefs
/src/hbrs_object_reconstruction/__init__.py
/src/hbrs_object_reconstruction/__init__.pyc
/src/hbrs_object_reconstruction/srv/__init__.pyc
/src/hbrs_object_reconstruction/srv/__init__.py
/src/hbrs_object_reconstruction/srv/_FixOcclusion.pyc
/src/hbrs_object_reconstruction/srv/_AccumulatePointCloud.py
/src/hbrs_object_reconstruction/srv/_AccumulatePointCloud.pyc
/src/hbrs_object_reconstruction/srv/_ExtractPlatform.py
/src/hbrs_object_reconstruction/srv/_ExtractPlatform.pyc
/src/hbrs_object_reconstruction/srv/_FixOcclusion.py