<?xml version="1.0"?>
<launch>
	<!-- Start RVIZ -->
	<node pkg="rviz" type="rviz" name="rviz" args="--d $(find hbrs_object_reconstruction)/ros/config/object_recognition.rviz" />

	<!-- Start the OpenNI Drivers and ROS Wrapper --> 
	<include file="$(find openni_launch)/launch/openni.launch" />

	<!-- Transform Camera -->
	<node pkg="tf" type="static_transform_publisher" name="debugging" args=" 0 0 0.7 0 0.17 0.0 /base_link /camera_link 100" />

	<!-- Start the Object Reconstruction Node -->
    <node pkg="hbrs_object_reconstruction" type="hbrs_object_reconstruction" name="hbrs_object_reconstruction" output="screen" launch-prefix="gdb -ex run --args"/>
</launch>
